<!doctype html>
<html>
<head>
    <title>Neighbor Postings</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id=postings>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-group"></span> Neighbor Postings</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->

        <div class="col-sm-6">
          <h3>Posts</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].details %></span>
              <span><%= messages[i].thumbUp %></span>
              <span><%= messages[i].title %></span>
              <span><%= messages[i].email %></span>
              <img src="<%= messages[i].postImg %>" alt="">
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a message</h2>



</div>

<script src="main.js"></script>

</body>
</html>
